html {
	box-sizing:border-box;
}

*,
*::before, 
*::after {
	box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    
}

.clearfix::after {
    display: table;
    content:'';
    clear: both;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*SLIDER*/

.slider {
    position: relative;
    min-height: 600px;
    background-image: url(../img/slider.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;

}

.background {
    background-image: url(../img/fon.png);
    position: absolute;
    opacity: 0.5;
    width: 100%;
}


.slider-title-list {
    list-style: none;
    margin: 0;
    padding:0;
    position: absolute;
    top: 215px;
    left: 28%;
}

.slider-button-item {
    position: absolute;
    z-index: 1;
    width: 104px;
    height: 104px;
    margin: 0px;
    padding: 0px;
    background-color: #4ec6ab;
    opacity: 0.65;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    top: 45%;
    transform: translateY(-50%);
}

.slider-button-prev {
    left: 0;
    background-image: url(../img/prev.png);
}

.slider-button-next {
    right: 0;
    background-image: url(../img/next.png);
}

.section-title {
    position: relative;
    min-height: 600px;
}


.slider-title-big-item {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    line-height: 40px;
    margin-bottom: 40px;
    letter-spacing: -1.2px;
    background: 0;
}

.slider-title-little-item {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0px;
    line-height: 20px;

}

.slider-title-list {
    top: 45%;
    left: 18%;
    transform: translateY(-50%); 
    width: 840px;
}

/*HEADER*/

.site-logo {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    color: #555252;
    text-transform: uppercase;
    line-height: 20px;

}

.navigation {
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-logo::first-letter {
    color: #1abc9c;
    font-weight: bold;
}

.menu-section {
    float: right;
    font-size: 14px;
    margin: 0px;
    padding: 0px; 
    font-weight: 700;
    list-style: none;
    line-height: 14px;
   
}

.menu-section a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #312727;
}

.menu-section a:hover,
.menu-section a:focus {
    color: rgb(26, 188, 156);
}

.menu-items {
    float: left;
    display: block;
    margin-right: 17px;

}

.menu-section li:last-child {
    margin-right: 0;
}

.menu-section li:first-child {
    margin-left: 0;
}


/*TITLE H2*/


.collection-title {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    color: #555252;
    line-height: 40px;
    margin-bottom: 90px;
    
}

h2::after {
    display: block;
    height: 7px;
    width: 160px;
    background-color: rgb(26, 188, 156);
    content: '';
    margin: 0 auto;
    margin-top: 30px;
}

/* SECTION */

.collection {
    margin: 0;
    padding: 0px;
    padding-bottom: 100px; 
    background-color: #e9f0fd;
    padding-top: 100px; /*Если делаю марджин, получается белый фон... А если не ставлю вообще, прижимается к слайдеру*/
}

.collection-box {
    margin: 0 auto;
    padding: 0px;
}

.collection-box-item {
    float: left;
    margin-right: 30px;
    width: 255px;
    height: 320px;
    list-style: none;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.collection-box li:nth-child(4n) {
	margin-right: 0px;  	
}

.collection-box li:nth-last-child(-n+4) {
    margin-bottom: 0px;
}

.collection-box-descr {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
}

.collection-box-item-name {
    width: 200px;
    background-color: #2c2b2b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px; 
    padding-bottom: 8px;
}

.collection-box-item-price {
    width: 55px;
    background-color: #8c8c8c;
    padding: 0px;
    text-align: center;
    padding-right: 10px;
}

.collection-box li:hover .collection-box-item-name {
    background-color:  rgb(26, 188, 156);
  }

.collection-box li:hover .collection-box-item-price {
    background-color: #7fd9c7;
  }

.collection-box-item-name, .collection-box-item-price {
    float: left;
    margin: 0;
    font-size: 18px;
    color:#fff;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 10px;
    font-weight: 600;
}

/* COLLECTION HOVER*/

.collection-hover {
    position: absolute;
    border-width: 10px;
    height: 282px;
    width: 255px;
    top: 0px;
    left: 0px;
    opacity: 0;
    border: 10px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.549);
}

.collection-box-item:hover .collection-hover {
    opacity: 1;
}

.collection-hover li {
    float: left;
    padding: 0px;
    margin-right: 8px;
    list-style: none;   
}

.hover-list {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hover-list a {
    display: block;
    width: 50px; 
    height: 50px; 
    border: 1px solid rgb(255, 255, 255); 
    padding: 0px;
    background-position: center;
    background-repeat: no-repeat;
}

.collection-hover li:nth-child(3n) {
    margin-right: 0px;
}

.hover-add-button {
    background-image: url(../img/fon.png);
}

.hover-add-button .hover-list{
    background-position: 10% 50%, 80% 50%;
    background-color: #323232; 
    border: 1px solid #fff;
    width: 166px;
    background-repeat: no-repeat;
    padding: 0px;
}

.hover-like {
    background-image: url(../img/like.png);
}

.hover-shuffle {
    background-image: url(../img/shuffle.png);
}

.hover-time {
    background-image: url(../img/time.png);
}

.hover-list a:hover {
    background-color: rgb(26, 188, 156);
    border: 1px solid rgb(26, 188, 156);
}


/* FOOTER */

.footer {
    background-color: #323232;
    position: relative;
}

.page-footer-descr {
    margin: 0;
    text-align: center;
    padding: 32px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;

}

.link {
    color: #41a190;
    text-decoration: none;
    display: inline-block;
}

footer p {
    margin: 0; 
    padding: 36px 0;
    text-align: center; 
    font-size: 16px; 
    line-height: 12px;
}
