html {
	box-sizing:border-box;
}

*,
*::before, 
*::after {
	box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    
}

.clearfix::after {
    display: table;
    content:'';
    clear: both;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 45px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*SLIDER*/

.slider {
    position: relative;
    min-height: 600px;
    background-image: url(../img/slider.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 100px;

}


.slider-title-list {
    list-style: none;
    margin: 0;
    padding:0;
    position: absolute;
    top: 215px;
    left: 28%;
}

.slider-button-item {
    position: absolute;
    z-index: 1;
    width: 104px;
    height: 104px;
    margin: 0px;
    padding: 0px;
    background-color: #4ec6ab;
    opacity: 0.65;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    top: 45%;
    transform: translateY(-50%);
}

.slider-button-prev {
    left: 245px;
    background-image: url(../img/prev.png);
}

.slider-button-next {
    right: 245px;
    background-image: url(../img/next.png);
}

.section-title {
    position: relative;
    min-height: 600px;
}


.slider-title-big-item {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    line-height: 40px;
    margin-bottom: 40px;
    letter-spacing: -1.2px;
}

.slider-title-little-item {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0px;
    line-height: 20px;

}

/*HEADER*/

.site-logo {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    color: #555252;
    text-transform: uppercase;
    line-height: 20px;
    margin-left: 245px;

}

.site-logo::first-letter {
    color: #1abc9c;
    font-weight: bold;
}

.page-header {
    margin: 0px;
    margin-bottom: 37px;
    margin-top: 40px;

}

.menu-section {
    float: right;
    margin: 0px;
    padding: 0px; 
    font-weight: bold;
    list-style: none;
    margin-right: 245px;
}

.menu-section a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #312727;
}

.menu-section a:hover,
.menu-section a:focus {
    color: rgb(26, 188, 156);
}

.menu-items {
    float: left;
    display: block;
    padding-right: 17px;
    padding-left: 17px;
}

.menu-section li:last-child {
    padding-right: 0;
}

.menu-section li:first-child {
    padding-left: 0;
}


/*TITLE H2*/


.collection-title {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    color: #555252;
    line-height: 40px;
    margin-bottom: 90px;
    
}

h2::after {
    display: block;
    height: 7px;
    width: 160px;
    background-color: rgb(26, 188, 156);
    content: '';
    margin: 0 auto;
    margin-top: 30px;
}

/* SECTION */

.collection {
    margin: 0;
    padding: 0px;
    margin-bottom: 105px;
}

.collection-box {
    margin: 0 auto;
    padding: 0px;
}

.collection-box-item {
    float: left;
    margin-right: 30px;
    width: 255px;
    height: 320px;
    list-style: none;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.collection-box li:nth-child(4n) {
	margin-right: 0px;  	
}

.collection-box li:nth-last-child(-n+4) {
    margin-bottom: 0px;
}

.collection-box-descr {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
}

.collection-box-item-name {
    width: 200px;
    background-color: #2c2b2b;
    padding-left: 14px;
    padding-right: 14px;
}

.collection-box-item-price {
    width: 55px;
    background-color: #8c8c8c;
    padding: 0px;
    text-align: center;
    padding-right: 10px;
}

.collection-box li:hover .collection-box-item-name {
    background-color:  rgb(26, 188, 156);
  }

.collection-box li:hover .collection-box-item-price {
    background-color: #7fd9c7;
  }

.collection-box-item-name, .collection-box-item-price {
    float: left;
    margin: 0;
    font-size: 18px;
    color:#fff;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    font-weight: 600;
}

/* COLLECTION HOVER*/

.collection-hover {
    position: absolute;
    display: inline-block;
    border-width: 10px;
    border-color: rgb( 255, 255, 255 );
    border-style: solid;
    background-color: rgb( 0, 0, 0 );
    height: 261px;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.collection-hover:hover {
    opacity: 0.549;

}

.hover-list {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    left: 35px;
    top: 75px;
}

.collection-box-item .collection-hover li {
    margin: 0 auto;
    padding: 0;
    float: left;
    list-style: none;
    border-width: 1px;
    border-color: rgb( 255, 255, 255 );
    border-style: solid;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.hover-icon {
    background: none;
    width: 48px;
    height: 48px;
}

.collection-hover li:nth-child(3n) {
    margin-right: 0px;
}

.hover-add-button {
    width: 164px;
    height: 48px;
    background-color: #323232;
    border: none;
    background-image: url(../img/cart.png);

}

.cart-text {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: white;
}

.hover-like {
    background-image: url(../img/like.png);
}

.hover-shuffle {
    background-image: url(../img/shuffle.png);
}

.hover-time {
    background-image: url(../img/time.png);
}

.hover-list li:hover {
    background-color: #1abc9c;

}


/* FOOTER */

.page-footer {
    display: block;
    height: 85px;
    background-color: #323232;
}

.page-footer-descr {
    margin: 0;
    text-align: center;
    padding-top: 32px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.link {
    color: #41a190;
    text-decoration: none;
}
